

* {
  /*раздел отступов*/
  margin: 0;
  padding: 0;

  /*раздел цветового оформления*/
  background-color: black;
  color: white;

}

header {
  display: grid;
  gap: 1%;
  grid-template-columns: 10% auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "l t m"
                       "l s m";
  padding: 1.5%;
  margin-bottom: 1.5%;
}

.logo {
  grid-area: l;
  width: 100%;
}

.title {
  grid-area: t;
}

.subtitle {
  grid-area: s;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: m
}

.menu li {
  width: 20%;
  display: inline-block;
  font-family: monospace;
  font-size: 135%;
  text-align: center;
  text-transform: lowercase;
  padding: 1%;
  margin: 3%;
}

.menu li:hover {
  background-color: #dc3545;
  color: black;
  text-decoration: underline;
  text-decoration-color: #dc3545;;
  text-underline-offset: 15px;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

h1 {
  display: flex;
  align-items: flex-end;
  font-family: Segoe UI;
  font-size: 3%;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: black;
  --opacity: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 125%;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
}
h1::before, h1::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 0.02em lime, calc(var(--left) * -6em) 0 0.02em #ff00e1;
  background-color: var(--bg);
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
h1::before {
  text-shadow: 3px 0 red;
  left: -7px;
  animation: glitch-b 1.7s infinite alternate-reverse;
}
h1::after {
  text-shadow: -3px 0 blue;
  left: 3px;
  animation: glitch-a 3.1s infinite alternate;
}

@keyframes glitch-h1 {
  17% {
    --scale: .87;
  }
  31% {
    --scale: 1.1;
  }
  37% {
    --scale: 1.3;
  }
  47% {
    --scale: .91;
  }
  87% {
    --scale: 1;
  }
}
@keyframes glitch-a {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
  }
  20% {
    --left: .005;
  }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-b {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -.005;
  }
  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1;
  }
}

h2 {
  display: flex;
  align-items: flex-start;
  font-family: Segoe UI Light;
  font-size: 125%;
  color: #dc3545;
  text-transform: lowercase;
  letter-spacing: 3.5px;
}

button {
  font-family: Handjet;
  font-size: 170%;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10%;
  height: 45px;
  width: 30%;
  border: none;
  background-image: linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545);
  background-size: 100% 2px, 25% 2px, 25% 2px, 100% 2px;
  background-position: 0 0, 0 10%, 100% 90%, 100% 100%;
  background-repeat: no-repeat;
  transition: .3s ease;
  box-shadow: 0 0 3px #dc3545, 0 0 10px #dc3545, 0 0 5px #dc3545;
  color: blue;
}

button:hover {
  opacity: 0.7;
  background-image: linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545), linear-gradient(#dc3545, #dc3545);
  background-size: 25% 2px, 100% 2px, 190% 2px, 25% 2px;
  background-position: 0 0, 0 10%, 100% 90%, 100% 100%;
  box-shadow: 0 0 0px #dc3545, 0 0 100px #dc3545, 0 0 5px #dc3545;
}

.module {
  margin: 3%;
  width: 25%;
  border: 1px solid grey;
  padding: 1%;
  font-family: Handjet;
  font-size: 125%;
}

.alert {
  font-family: Handjet;
  font-size: 500%;
  margin: 5%;
  text-align: center;
  text-shadow: 3px 3px grey;
}


}
